.header {
  width: 100;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  background-color: #cf8300;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");

}


.h2 {
  font-weight: normal;
}
.h2 span {
  font-weight: bold;
}