/* Styling user profile pic and name */

.header {

    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #cf8300;
    background-image: url(https://www.transparenttextures.com/patterns/exclusive-paper.png);
    opacity: 0.8;
  
}



